* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, label, select, option {
  font-family: inherit;
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'poppins_bold';
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poppins_ligth';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'poppins_medium';
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins_regular';
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins_semibold';
  src: url(../fonts/Poppins-SemiBold.ttf);
}

body {
  font-family: 'poppins_regular';
}

.container {
  max-width: 1167px;
  margin: 0 auto;
  position: relative;
}

.top-header {
  background: #ba0000;
}

.top-header .top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-header .select select {
  background: #ba0000;
  color: #fff;
  font-size: 14px;
}

.top-header .contacts a {
  color: #fff;
  font-size: 14px;
}

.top-header .contacts::before {
  content: url(../images/contact_center.png);
}

.top-header .top-header__contacts {
  margin-left: 800px;
  margin-right: 25px;
  margin-top: 3px;
}

.main-header {
  background: #ffcc00;
}

.main-header .main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

.main-header .main-header__logo {
  margin-right: 120px;
}

.main-header .menu {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-header .menu a {
  color: #ba0000;
  border-bottom: 4px solid transparent;
  padding-top: 15px;
  padding-bottom: 42px;
}

.main-header .menu a:hover {
  border-bottom: 4px solid #ba0000;
  font-weight: 900;
}

.main-header .main-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.main-header .main-header__menu div {
  margin-right: 50px;
}

.main-header .main-header__search input {
  background: #ffcc00;
}

.main-header .main-header__search button {
  padding: 16px 20px;
  border-radius: 35px;
  background: #ba0000;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 0px;
}

.main-header .main-header__search button:hover {
  -webkit-box-shadow: 0px 3px 10px #ba0000;
          box-shadow: 0px 3px 10px #ba0000;
}

.main-header .main-header__search {
  margin-top: 10px;
}

.main-page {
  background: url(../images/bg_main_page.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 5px;
}

.main-page .title span {
  display: block;
}

.main-page .main-page__title {
  padding-top: 120px;
  padding-bottom: 50px;
}

.main-page .subtitle {
  font-size: 20px;
  color: #ffcc00;
}

.main-page .main-page__subtitle {
  padding-top: 40px;
}

.main-page .main-page__subtitle span {
  display: block;
}

.main-page .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}

.main-page .services div {
  margin-right: 30px;
}

.main-page .main-page__services {
  padding-top: 25px;
}

.main-page .main-page__services div:nth-child(1)::after {
  content: '.';
  font-size: 35px;
  color: #ffcc00;
  margin-left: 30px;
}

.main-page .main-page__services div:nth-child(2)::after {
  content: '.';
  font-size: 35px;
  color: #ffcc00;
  margin-left: 30px;
}

.main-page .main-page__services div:nth-child(3) {
  margin-top: 12px;
}

.main-page .button button {
  padding: 15px 40px;
  border: 3px solid #fff;
  border-radius: 35px;
  background: transparent;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
}

.main-page .button button:hover {
  border: 3px solid #ffcc00;
  color: #ba0000;
  background: #ffcc00;
}

.main-page .main-page__button {
  padding-top: 35px;
  padding-bottom: 35px;
}
